* { box-sizing: border-box}

body {
    margin: 0;
    text-align: center;
}

main {
    margin-top: 2em;
    background: black;
    display: inline-grid;
    width: 500px;
    height: 500px;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    border: 3px solid black;
}

main div{
    font-size: 2em;
    color: black;
    background: grey;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue {
    background-color: #334577;
}

.red {
    background-color: #CB342E;
}

.yellow {
    background-color: #F0C845;
}

.white {
    background-color: white;
}

#box1 { grid-area: 1 / 1 / 3 / 3}
#box2 { grid-area: 1 / 3 / 4 / 9}
#box3 { grid-area: 3 / 1 / 6 / 3}
#box4 { grid-area: 4 / 3 / 8 / 5}
#box5 { grid-area: 4 / 5 / 6 / 9}
#box6 { grid-area: 6 / 1 / 8 / 3}
#box7 { grid-area: 6 / 5 / 8 / 9}
#box8 { grid-area: 8 / 1 / 9 / 3}
#box9 { grid-area: 8 / 3 / 9 / 9}